@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bevan:ital@0;1&family=Cabin+Condensed:wght@400;200;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Balsamiq Sans", sans-serif;*/

:root {
    --dark-orange-web:  #F58D24ff;
    --icterine:         #F9FD6Aff;
    --van-dyke:         #453331ff;
    --gunmetal:         #1D303Fff;
    --rich-black:       #121C25ff;
    --text:             rgb(173, 213, 247);
    --text-opacity1:    rgb(173, 213, 247, 0.3);
    --text-opacity2:    rgb(173, 213, 247, 0.6);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Balsamiq Sans", sans-serif;
}
html {
    height: 100vh;
    /*background-color: var(--gunmetal);*/
    background: linear-gradient( 180deg, var(--gunmetal), var(--text) 240%);
}